<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="12392ThankCreate.1922282FD512C" Publisher="CN=1EE03617-47FC-4AA3-97AE-D32CB7ECB900" Version="1.2.0.0" />
  <Properties>
    <DisplayName>我只在乎你</DisplayName>
    <PublisherDisplayName>ThankCreate</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CareWin8.App">
      <VisualElements DisplayName="我只在乎你" Logo="Assets\150x150.png" SmallLogo="Assets\30x30.png" Description="CareWin8" ForegroundText="light" BackgroundColor="#009ebf" ToastCapable="true">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\310x150.png" ShortName="我只在乎你" />
        <SplashScreen Image="Assets\splash_620x300.png" BackgroundColor="#009ebf" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>